.cars-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cars-component .car-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: #999494;
}